[user]
  email = 1062477+haywood@users.noreply.github.com
  name = Michael Reed
[pull]
  rebase = true

[alias]
  co = checkout
  lo = log
  xl = log --decorate --oneline --graph --exclude="*gh-pages" --all
[merge]
	tool = gvimdiff
[core]
	excludesfile = /Users/haywood/.gitignore
