[user]
  email = 1062477+haywood@users.noreply.github.com
  name = Michael Reed
[pull]
  rebase = true

[alias]
  co = checkout
  lo = log
  xl = log --decorate --oneline --graph --exclude="*gh-pages" --all
[merge]
	tool = vimdiff
	guitool = gvimdiff
[core]
	excludesfile = ~/.gitignore
[credential "https://source.developers.google.com"]
	helper = gcloud.sh
[http]
	cookiefile = /Users/haywood/.gitcookies
[init]
	defaultBranch = main
