[submodule "vim/.vim/pack/_/start/vim-closetag"]
	path = vim/.vim/pack/_/start/vim-closetag
	url = https://github.com/alvan/vim-closetag.git
[submodule "vim/.vim/pack/_/start/yats.vim"]
	path = vim/.vim/pack/_/start/yats.vim
	url = https://github.com/HerringtonDarkholme/yats.vim.git
[submodule "vim/.vim/pack/_/start/ctrlp.vim"]
	path = vim/.vim/pack/_/start/ctrlp.vim
	url = https://github.com/kien/ctrlp.vim.git
[submodule "vim/.vim/pack/_/start/vim-airline"]
	path = vim/.vim/pack/_/start/vim-airline
	url = https://github.com/vim-airline/vim-airline.git
[submodule "vim/.vim/pack/_/start/auto-pairs"]
	path = vim/.vim/pack/_/start/auto-pairs
	url = https://github.com/jiangmiao/auto-pairs.git
[submodule "vim/.vim/pack/_/start/vim-prettier"]
	path = vim/.vim/pack/_/start/vim-prettier
	url = https://github.com/prettier/vim-prettier.git
[submodule "vim/.vim/pack/_/start/vim-fugitive"]
	path = vim/.vim/pack/_/start/vim-fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule "vim/.vim/pack/_/start/vim-sensible"]
	path = vim/.vim/pack/_/start/vim-sensible
	url = https://github.com/tpope/vim-sensible.git
[submodule "vim/.vim/pack/_/start/nerdcommenter"]
	path = vim/.vim/pack/_/start/nerdcommenter
	url = https://github.com/preservim/nerdcommenter.git
[submodule "vim/.vim/pack/_/start/nerdtree"]
	path = vim/.vim/pack/_/start/nerdtree
	url = https://github.com/preservim/nerdtree.git
[submodule "vim/.vim/pack/_/start/nerdtree-git-plugin"]
	path = vim/.vim/pack/_/start/nerdtree-git-plugin
	url = https://github.com/Xuyuanp/nerdtree-git-plugin.git
[submodule "vim/.vim/pack/_/start/vim-abolish"]
	path = vim/.vim/pack/_/start/vim-abolish
	url = https://github.com/tpope/vim-abolish.git
[submodule "vim/.vim/pack/_/start/onedark.vim"]
	path = vim/.vim/pack/_/start/onedark.vim
	url = https://github.com/joshdick/onedark.vim.git
[submodule "vim/.vim/pack/_/start/vim-bracketed-paste"]
	path = vim/.vim/pack/_/start/vim-bracketed-paste
	url = https://github.com/ConradIrwin/vim-bracketed-paste.git
[submodule "vim/.vim/pack/_/start/fzf.vim"]
	path = vim/.vim/pack/_/start/fzf.vim
	url = https://github.com/junegunn/fzf.vim.git
[submodule "vim/.vim/pack/_/start/vim-lsc"]
	path = vim/.vim/pack/_/start/vim-lsc
	url = https://github.com/natebosch/vim-lsc.git
[submodule "vim/.vim/pack/_/start/supertab"]
	path = vim/.vim/pack/_/start/supertab
	url = https://github.com/ervandew/supertab.git
[submodule "vim/.vim/pack/_/start/vim-glsl"]
	path = vim/.vim/pack/_/start/vim-glsl
	url = https://github.com/tikhomirov/vim-glsl.git
