[submodule "vim/.vim/pack/_/start/vim-closetag"]
	path = vim/.vim/pack/_/start/vim-closetag
	url = https://github.com/alvan/vim-closetag.git
[submodule "vim/.vim/pack/_/start/yats.vim"]
	path = vim/.vim/pack/_/start/yats.vim
	url = https://github.com/HerringtonDarkholme/yats.vim.git
[submodule "vim/.vim/pack/_/start/ctrlp.vim"]
	path = vim/.vim/pack/_/start/ctrlp.vim
	url = https://github.com/kien/ctrlp.vim.git
[submodule "vim/.vim/pack/_/start/vim-ctrlp-ag"]
	path = vim/.vim/pack/_/start/vim-ctrlp-ag
	url = https://github.com/lokikl/vim-ctrlp-ag.git
[submodule "vim/.vim/pack/_/start/syntastic"]
	path = vim/.vim/pack/_/start/syntastic
	url = https://github.com/vim-syntastic/syntastic.git
[submodule "vim/.vim/pack/_/start/tsuquyomi"]
	path = vim/.vim/pack/_/start/tsuquyomi
	url = https://github.com/Quramy/tsuquyomi.git
[submodule "vim/.vim/pack/_/start/YouCompleteMe"]
	path = vim/.vim/pack/_/start/YouCompleteMe
	url = https://github.com/ycm-core/YouCompleteMe.git
[submodule "vim/.vim/pack/_/start/vim-airline"]
	path = vim/.vim/pack/_/start/vim-airline
	url = https://github.com/vim-airline/vim-airline.git
[submodule "vim/.vim/pack/_/start/auto-pairs"]
	path = vim/.vim/pack/_/start/auto-pairs
	url = https://github.com/jiangmiao/auto-pairs.git
[submodule "vim/.vim/pack/_/start/vim-prettier"]
	path = vim/.vim/pack/_/start/vim-prettier
	url = https://github.com/prettier/vim-prettier.git
